# ignore everything first
*

# exclude git and editor configs
!.gitignore
!.gitattributes
!.editorconfig
!.vscode/settings.json

# exclude godot project file and all .gd scripts
!project.godot

# allow directories to traverse
!*/

# allow all .gd files and their UIDs anywhere
!*.gd
!*.gd.uid
!*.uid
!*.gdshader

# allow scene and resource files
!*.tscn
!*.scn
!*.tres
!*.res
!*.import
!*.svg

# folder ignores (overrides allow rules above)
.godot/
/android/
assets/
